/*Stilizare pagina contact */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}
h1,p
{
    text-align: center;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #9FE7F5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

form input[type="submit"], form input[type="reset"] {
    background-color:#333;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover, form input[type="reset"]:hover {
    background-color: #009DD1;
}